<li>
  <%= link_to find_org_units_organization_units_path do %>
    <%= tabler_icon "search", size: "16px" %>
    <span class="nav-label">Find Org Unit</span>
  <% end %>
</li>

<li>
  <%= link_to organization_units_path do %>
    <%= tabler_icon "sitemap", size: "16px" %>
    <span class="nav-label">Tree View</span>
  <% end %>
</li>

<li>
  <%= link_to find_people_employees_path do %>
    <%= tabler_icon "chart-bar", size: "16px" %>
    <span class="nav-label">Chart View</span>
  <% end %>
</li>

<li>
  <%= link_to employees_path do %>
    <%= tabler_icon "filter", size: "16px" %>
    <span class="nav-label">Filter View</span>
  <% end %>
</li>