<div id="<%= dom_id organization_unit %>">
  <div>
    <strong>Name:</strong>
    <%= organization_unit.name %>
  </div>

  <div>
    <strong>Custom name:</strong>
    <%= organization_unit.custom_name %>
  </div>

  <div>
    <strong>Short name:</strong>
    <%= organization_unit.short_name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= organization_unit.code %>
  </div>

  <div>
    <strong>Ownership:</strong>
    <%= organization_unit.ownership %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= organization_unit.url %>
  </div>

  <div>
    <strong>Latitude:</strong>
    <%= organization_unit.latitude %>
  </div>

  <div>
    <strong>Longitude:</strong>
    <%= organization_unit.longitude %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= organization_unit.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= organization_unit.email %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= organization_unit.description %>
  </div>

  <div>
    <strong>Visitable:</strong>
    <%= organization_unit.visitable %>
  </div>

  <div>
    <strong>Organization type:</strong>
    <%= organization_unit.organization_type_id %>
  </div>

  <div>
    <strong>Parent organization unit:</strong>
    <%= organization_unit.parent_organization_unit_id %>
  </div>

</div>
