<p style="color: green"><%= notice %></p>

<%= render @organization_unit %>

<div>
  <%= link_to "Edit this organization unit", edit_organization_unit_path(@organization_unit) %> |
  <%= link_to "Back to organization units", organization_units_path %>

  <%= button_to "Destroy this organization unit", @organization_unit, method: :delete %>
</div>
