<p style="color: green"><%= notice %></p>

<%= render @organization_type %>

<div>
  <%= link_to "Edit this organization type", edit_organization_type_path(@organization_type) %> |
  <%= link_to "Back to organization types", organization_types_path %>

  <%= button_to "Destroy this organization type", @organization_type, method: :delete %>
</div>
