<div id="<%= dom_id partner %>">
  <div>
    <strong>Partner type:</strong>
    <%= partner.partner_type_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= partner.name %>
  </div>

  <div>
    <strong>Short name:</strong>
    <%= partner.short_name %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= partner.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= partner.email %>
  </div>

  <div>
    <strong>Country:</strong>
    <%= partner.country %>
  </div>

  <div>
    <strong>City:</strong>
    <%= partner.city %>
  </div>

  <div>
    <strong>District:</strong>
    <%= partner.district %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= partner.status %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= partner.description %>
  </div>

</div>
