<p style="color: green"><%= notice %></p>

<%= render @partner_type %>

<div>
  <%= link_to "Edit this partner type", edit_partner_type_path(@partner_type) %> |
  <%= link_to "Back to partner types", partner_types_path %>

  <%= button_to "Destroy this partner type", @partner_type, method: :delete %>
</div>
